<div class="row form-content">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Modify TODO item</h3>
      <hr/>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" class="needs-validation">
          <div class="form-group has-validation">
            <label for="deadline" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="todoItem.name" name="name" placeholder="Name is required" required>
            <div class="invalid-tooltip">
              Name is required.
            </div>
          </div>
          <br/>
          <div class="form-group">
            <label for="deadline" class="form-label">Deadline</label>
            <input class="form-control" id="deadline" name="deadline" [(ngModel)]="todoItem.deadline" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                   placeholder="click to select date...">
            <owl-date-time #dt1></owl-date-time>
          </div>
          <br/>
          <div class="form-group">
            <label for="priority" class="form-label">Priority</label>
            <select class="form-control" id="priority" name="priority" [(ngModel)]="todoItem.priority" required>
              <option *ngFor="let priorityType of priorityTypes" [value]="priorityType">
                {{priorityType}}
              </option>
            </select>
          </div>
          <br/>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Error updating TODO!</h3>
  </div>
  <div class="modal-body">
    <div style="text-align: right; float: right; width: 132px;"><img src="/assets/images/error.png"></div>
    <table style="font-size: 10pt;">
      <tr style=" vertical-align: top;">
        <td>Timestamp:</td>
        <td>{{errorResult.timestamp | date: 'yyyy.MM.dd HH:mm:ss' }}</td>
      </tr>
      <tr style=" vertical-align: top;">
        <td>Path:</td>
        <td>{{errorResult.path}}</td>
      </tr>
      <tr style=" vertical-align: top;">
        <td>Message:</td>
        <td><textarea [value]="errorResult.message" rows="8" cols="20"></textarea></td>
      </tr>
      <tr *ngFor="let error of errorResult.errors">
        <td>{{error.objectName}}:</td>
        <td>{{error.rejectedValue === null ? 'null' : error.rejectedValue}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
