<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="todo-items" routerLinkActive="active" class="nav-link" >TODO List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-todo-item" routerLinkActive="active" class="nav-link" >New TODO</a>
        </li>
    </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>Subi-dubi-ToDooo! :)</span>
    </div>
</footer>
