<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Create new TODO item </h3>
      <hr/>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="todoItem.name" name="name">
          </div>
          <div class="form-group">
            <label>Deadline</label>
            <input type="text" class="form-control" id="deadline" [(ngModel)]="todoItem.deadline" name="deadline">
          </div>

          <div class="form-group">
            <label>Priority</label>
            <select class="form-control" id="priority" name="priority" [(ngModel)]="todoItem.priority" required>
              <option *ngFor="let priorityType of priorityTypes" [value]="priorityType">
                {{priorityType}}
              </option>
            </select>
          </div>
          <br/>
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
